option_settings:
aws:elasticbeanstalk:container:python:
    WSGIPath: datefix-1/Datefix/wsgi.py

aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Datefix.settings
    PYTHONPATH: /opt/python/current/app/datefix-1:$PYTHONPATH

aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP

aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP
