* {
	font-family: 'Lato', sans-serif;
}

p {
	font-size: 20px !important;
}

.results img {
	display: inline-block;
}

.list-group-item {
	border-radius: 15px !important;
	padding: 0.75rem 1.25rem;
	margin-bottom: 15px;
	background-color: rgba(255, 255, 255, 0.9);
	transition: 0.4s ease all;
}

.list-group-item:hover {
	border-radius: 15px !important;
	padding: 0.75rem 1.25rem;
	margin-bottom: 15px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.test-category {
	margin: 25px auto;
	padding: 30px;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 15px;
	transition: 0.4s ease all;
	font-size: 15px;
}

button {
	font-family: 'Lato', sans-serif;
}

.prompt {
	display: block;
	font-size: 20px;
}

.btn {
	margin: 0 20px 0 20px;
}

.btn-strongly-agree {
	color: #89d298;
	font-weight: bold;
}

.btn-strongly-agree.active,
.btn-strongly-agree:active,
.btn-strongly-agree:focus,
.btn-strongly-agree:active:focus,
.btn-strongly-agree.active:focus,
.btn-strongly-agree:hover {
	background-color: #89d298;
	color: #fff;
}

.btn-agree {
	color: #89d298;
}

.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
	background-color: rgba(137, 210, 152, 0.5);
	color: #fff;
}

.btn-disagree {
	color: #e28181;
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
	background-color: rgba(226, 129, 129, 0.5);
	color: #fff;
}

.btn-strongly-disagree {
	color: #e28181;
	font-weight: bold;
}

.btn-neutral{
	color: rgba(7, 7, 7, 0.73);
	font-weight: normal;
}

.btn-strongly-disagree.active,
.btn-strongly-disagree:active,
.btn-strongly-disagree:focus,
.btn-strongly-disagree:active:focus,
.btn-strongly-disagree.active:focus,
.btn-strongly-disagree:hover {
	background-color: #e28181;
	color: #fff;
}

.btn-neutral.active,
.btn-neutral:active,
.btn-neutral:focus,
.btn-neutral:active:focus,
.btn-neutral.active:focus,
.btn-neutral:hover {
	background-color: #a5a3a3;
	color: #070707;
}


.bottom {
	margin-bottom: 100px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* RESULTS */
.results {
	margin-bottom: 40px;
	margin-top: 40px;
}

@media (max-width: 991.98px) {
	.btn {
		margin: 0 auto;
		width: 100%;
	}

	.btn-group,
	.btn-group-vertical {
		position: relative;
		display: inline;
		vertical-align: middle;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.btn {
		margin: 0 auto;
		width: 100%;
	}

	.btn-group,
	.btn-group-vertical {
		position: relative;
		display: inline;
		vertical-align: middle;
	}
}

@media (max-width: 767.98px) {
	.btn {
		margin: 0 auto;
		width: 100%;
	}

	.btn-group,
	.btn-group-vertical {
		position: relative;
		display: inline;
		vertical-align: middle;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.btn {
		margin: 0 auto;
		width: 100%;
	}

	.btn-group,
	.btn-group-vertical {
		position: relative;
		display: inline;
		vertical-align: middle;
	}
}

@media (max-width: 575.98px) {
	.btn {
		margin: 0 auto;
		width: 100%;
	}

	.btn-group,
	.btn-group-vertical {
		position: relative;
		display: inline;
		vertical-align: middle;
	}
}
