<<<<<<< HEAD
/* Mark input boxes that gets an error on validation: */
input.invalid {
	background-color: #ffdddd;
=======






/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
>>>>>>> ffa6751151a593c82c7ba120b61798852884cf48
}

/* Hide all steps by default: */
.tab {
<<<<<<< HEAD
	display: none;
}

button {
	background-color: #7e50f8;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#prevBtn {
	background-color: #bbbbbb;
=======
  display: none;
}

button {
  background-color: #7e50f8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
>>>>>>> ffa6751151a593c82c7ba120b61798852884cf48
}

/* Make circles that indicate the steps of the form: */
.step {
<<<<<<< HEAD
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
	width: 30px;
	border-radius: 15px;
=======
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
>>>>>>> ffa6751151a593c82c7ba120b61798852884cf48
}

/* Mark the steps that are finished and valid: */
.step.finish {
<<<<<<< HEAD
	background-color: #7e50f8;
}
=======
  background-color: #7e50f8;
}
>>>>>>> ffa6751151a593c82c7ba120b61798852884cf48
