
                <datalist id="Abia">
                    <option>Aba North </option>
                    <option>Aba South </option>
                    <option>Arochukwu </option>
                    <option>Bende </option>
                    <option>Isiala Ngwa South</option>
                    <option>Ikwuano </option>
                    <option>Isiala</option>
                    <option>Ngwa North</option>
                    <option>Isukwuato</option>
                    <option>Ukwa West</option>
                    <option>Ukwa East</option>
                    <option>Umuahia </option>
                    <option>Umuahia South </option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="Adamawa">
                    <option>Demsa</option>
                    <option>Fufore </option>
                    <option>Ganye </option>
                    <option>Girei </option>
                    <option>Gombi </option>
                    <option>Jada </option>
                    <option>Yola North </option>
                    <option>Lamurde </option>
                    <option>Madagali </option>
                    <option>Maiha </option>
                    <option>Mayo-Belwa </option>
                    <option>Michika </option>
                    <option>Mubi South </option>
                    <option>Numna </option>
                    <option>Shelleng </option>
                    <option>Song </option>
                    <option>Toungo </option>
                    <option>Jimeta </option>
                    <option>Yola South </option>
                    <option>Hung </option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Anambra">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Akwa Ibom">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Bauchi">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Bayelsa">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Benue">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Borno">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Cross River">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Delta">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Ebonyi">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Edo">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Ekiti">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Enugu">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Gombe">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Imo">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Jigawa">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="FCT">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Kano">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Kastina">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Kebbi">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Kogi">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Kwara">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Lagos">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Nasarawa">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Niger">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Ogun">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Ondo">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Osun">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Oyo">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Plateu">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Rivers">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Sokoto">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Taraba">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>*
                <datalist id="Yobe">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>
                <datalist id="Zamfara">
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                <datalist>

                <datalist id="sexuality">
                    <option>Straight</option>
                    <option>Lesbian</option>
                    <option>Homosexual</option>
                    <option>Bisexual</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="status">
                    <option>Single</option>
                    <option>Married</option>
                    <option>Dating</option>
                    <option>Engaged</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="looking">
                    <option>Close Relationship</option>
                    <option>Open Relationship</option>
                    <option>One Night Stand</option>
                    <option>Situationship</option>
                    <option>Friendship</option>
                    {% if choice %}
                        <option value ="None">Anything</option>
                    {% endif %}
                </datalist>
                <datalist id="edu_qua">
                    <option>Professor's Degree</option>
                    <option>Master's Degree</option>
                    <option>Bachelor's Degree</option>
                    <option>Senior Secondary School Certificate</option>
                    <option>Junior Secondary School Certificate</option>
                    <option>First School Leaving Certificate</option>
                    <option>None</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="occupation">
                    <option>Architect</option>
                    {% if choice %}
                        <option value ="None">Anybody</option>
                    {% endif %}
                </datalist>
                <datalist id="net_worth">
                    <option>N10,000 - N100,000</option>
                    <option>N100,000 - N500,000</option>
                    <option>N500,000 - N1000,000</option>
                    <option>Millions</option>
                    <option>Billions</option>
                    <option>Trillions</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>

                <datalist id="blood_group">
                    <option>A</option>
                    <option>B</option>
                    <option>AB</option>
                    <option>O positive</option>
                    <option>O negative</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>

                <datalist id="genotype">
                    <option>AA</option>
                    <option>AS</option>
                    <option>SS</option>
                    {% if choice %}
                        <option >AA or AS</option>
                        <option value="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="other_med">
                    <option>None</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>

                <datalist id="religion">
                    <option>Christian</option>
                    <option>Muslim</option>
                    <option>African Tradition</option>
                    <option>Atheist</option>
                    <option>Non-Believer</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>

                <datalist id="christian">
                    <option>Catholic</option>
                    <option>Pentecostal</option>
                    <option>Apostolic</option>
                    <option>Anglican</option>
                    <option>Ekankar</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="muslim">
                    <option>Shiite</option>
                    <option>Jihad</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="atr">
                    <option>Ogoni</option>
                    <option>Orisha</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="complexion">
                    <option>Dark</option>
                    <option>Fair</option>
                    <option>Brown</option>
                    <option>Albino</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="height">
                    <option>Very Short</option>
                    <option>Short</option>
                    <option>Average</option>
                    <option>Tall</option>
                    <option>Very Tall </option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="body_type">
                    <option>Endomorph i.e plump, fat e.t.c</option>
                    <option>Mesomorph i.e Athletic</option>
                    <option>Ectomorph i.e Slim, Skinny</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="ass">
                    <option>Big Ass</option>
                    <option>Average Ass</option>
                    <option>Small Ass</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="boob">
                    <option>Big Boobs</option>
                    <option>Average Boobs</option>
                    <option>Small Boobs</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="penis_length">
                    <option>Below 6 Inches</option>
                    <option>6 Inches </option>
                    <option>Above 6 Inches</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="special">
                    <option>Dimples</option>
                    <option>Beauty Spots</option>
                    <option>Tribal Marks</option>
                    <option>Gapped Teeth</option>
                    <option>Beards</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="sexual_exp">
                    <option>Novice</option>
                    <option>Beginner</option>
                    <option>Average</option>
                    <option>Professional</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="sexual_love">
                    <option>Asexual</option>
                    <option>Low Libido</option>
                    <option>Average Libido</option>
                    <option>High Libido</option>
                    <option>Nymphomaniac</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>

                <datalist id="smoker_drinker">
                    <option>Not At All</option>
                    <option>Rarely</option>
                    <option>Often</option>
                    <option>Regularly</option>
                    <option>Habitual</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="temperament">
                    <option>Melancholy</option>
                    <option>Sanguine</option>
                    <option>Choleric</option>
                    <option>Phlegmatic</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                </datalist>
                <datalist id="states">
                    <option value="Abia">Abia</option>
                    <option value="Adamawa">Adamawa</option>
                    <option value="Anambra">Anambra</option>
                    <option value="Akwa Ibom">Akwa Ibom</option>
                    <option value="Bauchi">Bauchi</option>
                    <option value="Bayelsa">Bayelsa</option>
                    <option value="Benue">Benue</option>
                    <option value="Borno">Borno</option>
                    <option value="Cross River">Cross River</option>
                    <option value="Delta">Delta</option>
                    <option value="Ebonyi">Ebonyi</option>
                    <option value="Edo">Edo</option>
                    <option value="Ekiti">Ekiti</option>
                    <option value="Enugu">Enugu</option>
                    <option value="Gombe">Gombe</option>
                    <option value="Imo">Imo</option>
                    <option value="Jigawa">Jigawa</option>
                    <option value="FCT">FCT</option>
                    <option value="Kano">Kano</option>
                    <option value="Kastina">Kastina</option>
                    <option value="Kebbi">Kebbi</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Kwara">Kwara</option>
                    <option value="Lagos">Lagos</option>
                    <option value="Nasarawa">Nasarawa</option>
                    <option value="Niger">Niger</option>
                    <option value="Ogun">Ogun</option>
                    <option value="Ondo">Ondo</option>
                    <option value="Osun">Osun</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Plateu">Plateu</option>
                    <option value="Rivers">Rivers</option>
                    <option value="Sokoto">Sokoto</option>
                    <option value="Taraba">Taraba</option>
                    <option value="Yobe">Yobe</option>
                    <option value="Zamfara">Zamfara</option>
                    {% if choice %}
                        <option value ="None">Not Necessary</option>
                    {% endif %}
                  </datalist>
                
                

