{% extends "index.html" %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block content %}


<!-- Header
		============================================= -->
<header id="header" class="full-header">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
					============================================= -->
			<div id="logo">
				<a href={% url 'home' %} class="standard-logo" data-dark-logo={% static 'images/logo-dark.png' %}><img
						src={% static 'images/logo.png' %} alt="Canvas Logo"></a>
				<a href={% url 'home' %} class="retina-logo" data-dark-logo={% static 'images/logo-dark@2x.png' %}><img
						src={% static 'images/logo@2x.png' %} alt="Canvas Logo"></a>
			</div><!-- #logo end -->

			<!-- Primary Navigation
					============================================= -->
			<nav id="primary-menu">

				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
					<li><a href={% url 'home' %}>
							<div>Home</div>
						</a>
					</li>
					<li><a href="#">
							<div>About Datefix</div>
						</a>
					</li>
				</ul>


			</nav><!-- #primary-menu end -->

		</div>

	</div>

</header><!-- #header end -->
<!-- #header end -->


<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-parallax dark"
	style="background-image: url({% static "images/page/bg1.jpg" %}); padding: 120px 0; background-size:cover;"
	data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

	<div class="container clearfix dark">
		<h1 data-animate="fadeInUp" style="color:#eee;">My Account</h1>
		<span data-animate="fadeInUp" style="color:#eee;" data-delay="300">Login or Signup</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href={% url 'home' %}>Datefix</a></li>
			<li class="breadcrumb-item active" aria-current="page">Login</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content"
	style="overflow: inherit!important;  background-image: url({% static "images/page/bg.jpg"%}); background-size: cover; background-attachment: fixed;">

	<div class="content-wrap"
		style="background-image: url({% static "images/page/bgx.jpg"%});  background-size: cover; background-attachment: fixed;">

		<div class="container clearfix">

			{% if message %}
			<div class="alert alert-{{status}}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<i class="icon-{{icon}}"></i>
				{{message}}.
			</div>
			{% endif %}

			<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

				<div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to
					your Account</div>
				<div class="acc_content clearfix">
					<form id="login-form" name="login-form" class="nobottommargin" action={% url 'login'  %}
						method="post">
						{% csrf_token %}
						<div class="col_full">
							<label for="email">Email Address:</label>
							<input type="text" id="email" name="email" value=""
								class="sm-form-control border-form-control required email"
								placeholder="Type your email address here" />
						</div>

						<div class="col_full">
							<label for="password">Password:</label>
							<input type="password" id="password" name="password" value=""
								class="sm-form-control border-form-control required"
								placeholder="Type your password here" />
						</div>

						<div class="col_full nobottommargin">
							<button class="button button-3d button-black nomargin" id="submit" name="submit"
								value="login">Login</button>
							<a href="#" class="fright">Forgot Password?</a>
						</div>

					</form>
				</div>

				<div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>New
					Signup? Register for an Account</div>
				<div class="acc_content clearfix">
					<form id="register-form" name="register-form" class="nobottommargin" action={% url 'signup' %}
						method="post">
						{% csrf_token %}
						<div class="col_half">
							<label for="first-name">First Name:</label>
							<input type="text" id="first-name" name="first-name" value=""
								class="sm-form-control border-form-control required" />
						</div>

						<div class="col_half col_last">
							<label for="last-name">Last Name:</label>
							<input type="text" id="last-name" name="last-name" value=""
								class="sm-form-control border-form-control" />
						</div>

						<div class="clear"></div>

						<div class="col_half">
							<label for="email">Email Address:</label>
							<input type="text" id="email" name="email" value=""
								class="sm-form-control border-form-control required email" />
						</div>


						<div class="col_half col_last">
							<label for="sex">Sex:</label>
							<select name="sex" id="sex" class="sm-form-control border-form-control required">
								<option value="" selected="selected" disabled></option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>

						<div class="clear"></div>

						<div class="col_full">
							<label for="phone">Phone Number:</label>
							<input type="text" id="phone" name="phone" value=""
								class="sm-form-control border-form-control required" />
						</div>

						<div class="col_full">
							<label for="phone">Profile Image:</label>
							<input id="image" name="image" type="file"
								class="sm-form-control border-form-control required file file-loading"
								data-allowed-file-extensions='["jpg", "jpeg", "png"]' accept="image/*"
								data-show-preview="false">
						</div>

						<div class="clear"></div>

						<div class="col_half">
							<label for="password">Choose Password:</label>
							<input type="password" id="password" name="password1" value=""
								class="sm-form-control border-form-control required" />
						</div>

						<div class="col_half col_last">
							<label for="repassword">Re-enter Password:</label>
							<input type="password" id="repassword" name="password2" value=""
								class="sm-form-control border-form-control required" />
						</div>


						<div class="col_full nobottommargin">
							<button type="submit" class="button button-3d button-black nomargin"
								id="register-form-submit" name="register-form-submit" value="register">Register
								Now</button>
						</div>

					</form>
				</div>

			</div>

		</div>

	</div>

</section><!-- #content end -->

<!-- Footer
		============================================= -->
{% include "footer.html" %}
<!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
{% endblock content %}