{% extends "index.html" %}
{% load static %}
{% block title %}
Personality Test
{% endblock title %}

{% block css %}
<link rel="stylesheet" href={% static 'css/personality-test.css' %}>
<link rel="stylesheet" href={% static 'css/stylex.css' %}>
{% endblock css %}


{% block content %}

<!-- Header
		============================================= -->
<header id="header" class="full-header">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
					============================================= -->
			<div id="logo">
				<a href={% url 'home' %} class="standard-logo" data-dark-logo={% static 'images/logo-dark.png' %}><img
						src={% static 'images/logo.png' %} alt="Canvas Logo"></a>
				<a href={% url 'home' %} class="retina-logo" data-dark-logo={% static 'images/logo-dark@2x.png' %}><img
						src={% static 'images/logo@2x.png' %} alt="Canvas Logo"></a>
			</div><!-- #logo end -->

			<!-- Primary Navigation
					============================================= -->
			<nav id="primary-menu">

				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
					<li><a href={% url 'home' %}>
							<div>Home</div>
						</a>
					</li>
					<li><a href="#">
							<div>About Datefix</div>
						</a>
					</li>
				</ul>

				<div id="side-panel-trigger" class="side-panel-trigger user-sidebar-trigger"
					style="font-size: 12px;	font-weight: 400;	letter-spacing: 3px;    text-transform: uppercase; line-height: 22px;">
					<a href="#" style="width: auto; font-size: inherit;"><i class="icon-line-heart"></i>
						Menu</a>
				</div>


			</nav><!-- #primary-menu end -->

		</div>
		<div class="progress-container">
			<div class="progress-bar" id="myBar"></div>
		</div>

	</div>

</header><!-- #header end -->
<!-- #header end -->


<!-- Page Title
		============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Personality Test</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Datefix</a></li>
			<li class="breadcrumb-item active" aria-current="page">Personality Test</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content"
	style="overflow: inherit!important;  background-image: url({% static "images/page/pfbgx.png"%}); background-size: cover; background-attachment: fixed;">

	<div class="content-wrap">

		<div class="container clearfix" style="padding: 15px!important;
		margin-right: auto;
		margin-left: auto;">

			<!-- <div class="container text-center">
				<h1>Personality Test</h1>
			</div> -->

			<div class="" style="padding: 0px!important;">
				<div class="container text-center results">
                    <h1 class="text-white">Your Personality Test Result</h1>
                    <p class="text-left text-dark p-3 bg-warning rounded-5">Dear {{ email }}, </p>
                    {% for category, title, description in data %}
                    <div class="row list-group-item mb-3">
                        <p class="mx-5 rounded-circle
                        {% if category == 'Extraversion' %}
                            bg-primary text-white
                        {% elif category == 'Neuroticism' %}
                            bg-warning  text-dark

                        {% elif category == 'Agreeableness'  %}
                            bg-success   text-white

                        {% elif category == 'Conscientiousness'  %}
                            bg-danger  text-white

                        {% elif category == 'Openness' %}
                            bg-info   text-white
                        {% endif %}

                        shadow-lg" style="z-index: 5; position: relative">
                            {{ category }}
                        </p>
                        <div class="col-12">
                            <p>{{ title}} !</p>
                        </div>
                        <div class="col-12">
                            {{description}}
                        </div>
                    </div>
                    {% endfor %}
				</div>
			</div>

			<div class="container text-center bottom">
				<form method="post" action="{% url 'test_result' %}">
                {% csrf_token %}
				    <button type="submit" id="retake-btn" class="button button-rounded button-reveal
				    button-xlarge button-yellow button-light tright">
                        <i
						class="icon-arrow-alt-circle-right"></i><span>Re-Take Personality Test</span>
                    </button>
                </form>
			</div>



		</div>

	</div>

</section><!-- #content end -->
<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer
		============================================= -->
{% include "footer.html" %}
<!-- #footer end -->
{% endblock content %}

{% block script %}

<script src={% static 'js/personality-test.js' %}></script>

<script>
	// When the user scrolls the page, execute myFunction
	window.onscroll = function () {
		myFunction()
	};

	function myFunction() {
		var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
		var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		var scrolled = (winScroll / height) * 100;
		document.getElementById("myBar").style.width = scrolled + "%";
	}
</script>


{% endblock script %}