{% extends "index.html" %}
{% load static %}

{% block css %}
	<link href={% static 'css/select2.css' %} rel="stylesheet" />
	<link rel="stylesheet" href={% static 'css/form-elements.css' %}>
	<link rel="stylesheet" href={% static 'css/stylex.css' %}>
{% endblock css %}

{% block title %}
	Dashboard
{% endblock title %}

{% block content %}
	<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Setup</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href={% url 'home' %}>Datefix</a></li>
					<li class="breadcrumb-item"><a href="#">John Doe</a></li>
					<li class="breadcrumb-item active" aria-current="page">Setup</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content" style="overflow: inherit!important">

			<div class="content-wrap" style="padding: 20px 0;">

				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-md-12">

							<div class="clear"></div>

							<div class="row clearfix">

								<div class="col-lg-12">

									<!-- Multi step form -->
										<!-- One "tab" for each step in the form: -->
										<form id="user-form" action={% url 'get_data' 'user' %} method="get">
										<div class="tab">
											<h2 style="margin-bottom: 3px">Describe Yourself</h2>
											<p>Tell us about yourself</p>
											<div class="form-category">
												<h4>Where do you reside?</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">State</label>
																<select name="residence-state" id="state1" class="form-control">
																	<option value="" selected="selected" disabled></option>
																	<option value='Non-Nigerian Resident'>Non-Nigerian Resident</option>
																	<option value='Abia'>Abia</option>
																	<option value='Adamawa'>Adamawa</option>
																	<option value='AkwaIbom'>AkwaIbom</option>
																	<option value='Anambra'>Anambra</option>
																	<option value='Bauchi'>Bauchi</option>
																	<option value='Bayelsa'>Bayelsa</option>
																	<option value='Benue'>Benue</option>
																	<option value='Borno'>Borno</option>
																	<option value='Cross River'>Cross River</option>
																	<option value='Delta'>Delta</option>
																	<option value='Ebonyi'>Ebonyi</option>
																	<option value='Edo'>Edo</option>
																	<option value='Ekiti'>Ekiti</option>
																	<option value='Enugu'>Enugu</option>
																	<option value='FCT'>FCT</option>
																	<option value='Gombe'>Gombe</option>
																	<option value='Imo'>Imo</option>
																	<option value='Jigawa'>Jigawa</option>
																	<option value='Kaduna'>Kaduna</option>
																	<option value='Kano'>Kano</option>
																	<option value='Katsina'>Katsina</option>
																	<option value='Kebbi'>Kebbi</option>
																	<option value='Kogi'>Kogi</option>
																	<option value='Kwara'>Kwara</option>
																	<option value='Lagos'>Lagos</option>
																	<option value='Nasarawa'>Nasarawa</option>
																	<option value='Niger'>Niger</option>
																	<option value='Ogun'>Ogun</option>
																	<option value='Ondo'>Ondo</option>
																	<option value='Osun'>Osun</option>
																	<option value='Oyo'>Oyo</option>
																	<option value='Plateau'>Plateau</option>
																	<option value='Rivers'>Rivers</option>
																	<option value='Sokoto'>Sokoto</option>
																	<option value='Taraba'>Taraba</option>
																	<option value='Yobe'>Yobe</option>
																	<option value='Zamfara'>Zamafara</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">LGA</label>
																<select name="residence-lga" id="lga1" class="form-control" required>
																</select>
															</div>
														</div>
													</div>
											</div>

											<div class="form-category">
												<h4>Where are you from?</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">State</label>
																<select name="origin-state" id="state2" class="form-control">
																	<option value="" selected="selected" disabled></option>

																	<option value='Non-Nigerian'>Non-Nigerian</option>
																	<option value='Abia'>Abia</option>
																	<option value='Adamawa'>Adamawa</option>
																	<option value='AkwaIbom'>AkwaIbom</option>
																	<option value='Anambra'>Anambra</option>
																	<option value='Bauchi'>Bauchi</option>
																	<option value='Bayelsa'>Bayelsa</option>
																	<option value='Benue'>Benue</option>
																	<option value='Borno'>Borno</option>
																	<option value='Cross River'>Cross River</option>
																	<option value='Delta'>Delta</option>
																	<option value='Ebonyi'>Ebonyi</option>
																	<option value='Edo'>Edo</option>
																	<option value='Ekiti'>Ekiti</option>
																	<option value='Enugu'>Enugu</option>
																	<option value='FCT'>FCT</option>
																	<option value='Gombe'>Gombe</option>
																	<option value='Imo'>Imo</option>
																	<option value='Jigawa'>Jigawa</option>
																	<option value='Kaduna'>Kaduna</option>
																	<option value='Kano'>Kano</option>
																	<option value='Katsina'>Katsina</option>
																	<option value='Kebbi'>Kebbi</option>
																	<option value='Kogi'>Kogi</option>
																	<option value='Kwara'>Kwara</option>
																	<option value='Lagos'>Lagos</option>
																	<option value='Nasarawa'>Nasarawa</option>
																	<option value='Niger'>Niger</option>
																	<option value='Ogun'>Ogun</option>
																	<option value='Ondo'>Ondo</option>
																	<option value='Osun'>Osun</option>
																	<option value='Oyo'>Oyo</option>
																	<option value='Plateau'>Plateau</option>
																	<option value='Rivers'>Rivers</option>
																	<option value='Sokoto'>Sokoto</option>
																	<option value='Taraba'>Taraba</option>
																	<option value='Yobe'>Yobe</option>
																	<option value='Zamfara'>Zamafara</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">LGA</label>
																<select name="origin-lga" id="lga2" class="form-control" required>
																</select>
															</div>
														</div>
													</div>
											</div>

											<div class="form-category">
												<h4>Your Sexuality & Status</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Marital Status?</label>
																<select name="marital-status" id="marital-status1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="Single">Single</option>
																	<option value="Seperated">Separated</option>
																	<option value="Divorced">Divorced</option>
																	<option value="Widowed">Widowed</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Do you have children?</label>
																<select name="children" id="children1" class="form-control" required>
																	<option value="1">No</option>
																	<option value="2">Yes</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Age</label>
																<input type="number" min="21" name="age" id="age1" class="form-control" value="21">
															</div>
														</div>

													</div>
											</div>

											<div class="form-category">
												<h4>Your Education & Work</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your highest level of education</label>
																<select name="education" id="education1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">SSCE</option>
																	<option value="2">OND</option>
																	<option value="3">HND</option>
																	<option value="4">Bachelors</option>
																	<option value="5">PGD/PCE</option>
																	<option value="6">Masters</option>
																	<option value="7">Doctorate</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your average net worth</label>
																<select name="net-worth" id="net-worth1" class="form-control" required>
																	<option value="" selected disabled></option>
																	<option value="1">Less than N100,000</option>
																	<option value="2">N100,000 - N500,000</option>
																	<option value="3">N500,000 - N1,000,000</option>
																	<option value="4">N1,000,000 - N10,000,000</option>
																	<option value="5">N10,000,000 - N100,000,000</option>
																	<option value="6">N100,000,000 - 1 Billion</option>
																	<option value="7">Above 1 Billion</option>
																</select>
															</div>
														</div>
													</div>

											</div>

											<div class="form-category">
												<h4>Your Body & Soul</h3>
													<hr>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Blood Group</label>
																<select name="blood-group" id="blood-group1" class="form-control">
																	<option value="" selected="selected" disabled></option>
																	<option value="1">A</option>
																	<option value="2">B</option>
																	<option value="3">AB</option>
																	<option value="4">O</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Genotype</label>
																<select name="genotype" id="genotype1" class="form-control" required>
																	<option value="" selected disabled></option>
																	<option value="1">AA</option>
																	<option value="2">AS</option>
																	<option value="3">SS</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Religion</label>
																<select name="religion" id="religion1" class="form-control">
																	<option value="" selected="selected" disabled></option>

																	<option value='Christian'>Christian</option>
																	<option value='Muslim'>Muslim</option>
																	<option value='Unaffiliated'>Unaffiliated</option>
																	<option value='Other'>Other</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Denomination</label>
																<select name="denomination" id="denomination1" class="form-control" required>
																</select>
															</div>
														</div>
													</div>
											</div>

											<div class="form-category">
												<h4>Your Physique</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Complexion</label>
																<select name="complexion" id="complexion1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Very Light</option>
																	<option value="2">Light Skinned</option>
																	<option value="3">Normal Brown</option>
																	<option value="4">Dark Brown</option>
																	<option value="5">Deep Brown</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Height</label>
																<select name="height" id="height1" class="form-control" required>
																	<option value="" selected disabled></option>
																	<option value="1">Really Short</option>
																	<option value="2">Short</option>
																	<option value="3">Average</option>
																	<option value="4">Tall</option>
																	<option value="5">Really Tall</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Body Shape</label>
																<select name="body-shape" id="body-shape1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Straight</option>
																	<option value="2">Pear</option>
																	<option value="3">Apple</option>
																	<option value="4">Hourglass</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Body Type</label>
																<select name="body-type" id="body-type1" class="form-control" required>
																	<option value="" selected disabled></option>
																	<option value="1">Ectomorphic</option>
																	<option value="2">Mesomorphic</option>
																	<option value="3">Endomorphic</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Body Size</label>
																<select name="body-size" id="body-size1" class="form-control" required>
																	<option value="" selected disabled></option>
																	<option value="1">Skinny</option>
																	<option value="2">Slim</option>
																	<option value="3">Average</option>
																	<option value="4">Large</option>
																	<option value="5">Extra Large</option>
																</select>
															</div>
														</div>
													</div>

											</div>

											<div class="form-category">
												<h4>Your Social Habits</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Do you drink?</label>
																<select name="drink" id="drink1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Yes</option>
																	<option value="2">Socially</option>
																	<option value="3">No</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Do you smoke?</label>
																<select name="smoke" id="smoke1" class="form-control" required>
																	<option value="" selected disabled></option>
																	<option value="1">Yes</option>
																	<option value="2">Socially</option>
																	<option value="3">No</option>
																</select>
															</div>
														</div>
													</div>

											</div>

											<div class="form-category">
												<h4>Your Personality</h3>
													<hr>


													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Openness *</strong> - How open minded are you?</label>
															</div>
															<div class="col-md-4">
																<select name="openness" id="openness1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Not really</option>
																	<option value="2">Moderately</option>
																	<option value="3">Very Open</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Conscientiousness *</strong> - How diligent and careful are you?</label>
															</div>
															<div class="col-md-4">
																<select name="conscientiousness" id="conscientiousness1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Careless</option>
																	<option value="2">Moderately Diligent</option>
																	<option value="3">Very Careful/Diligent</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Extraversion *</strong> - How socially outgoing are you?</label>
															</div>
															<div class="col-md-4">
																<select name="extraversion" id="extraversion1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Reserved</option>
																	<option value="2">Moderately Outgoing</option>
																	<option value="3">Very Outgoing</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Agreeableness *</strong> - How friendly or tactful are you?</label>
															</div>
															<div class="col-md-4">
																<select name="agreeableness" id="agreeableness1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Detatched</option>
																	<option value="2">Challenging</option>
																	<option value="3">Friendly</option>
																	<option value="4">Compassionate</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Neurotism *</strong> <span>- How emotionally sensitive are you?</span></label>
															</div>
															<div class="col-md-4">
																<select name="neurotism" id="neurotism1" class="form-control" required>
																	<option value="" selected="selected" disabled></option>
																	<option value="1">Cold and Distant</option>
																	<option value="2">Moderately Sensitive</option>
																	<option value="3">Very Sensitive</option>
																</select>
															</div>
														</div>
													</div>


											</div>





										</div>
										</form>
										<form></form>
										<form id="partner-form" action={% url 'get_data' 'partner' %} method="get">
										<div class="tab">
											<h2 style="margin-bottom: 3px">Your Ideal Partner</h2>
											<p>Tell us what you want in a partner</p>
											<div class="form-category">
												<h4>Where would you like your partner to reside?</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">State</label>
																<select name="residence-state" id="state3" class="form-control">
																	<option value="" selected="selected" disabled></option>
																	<option value='Does Not Matter'>Does Not Matter</option>
																	<option value='Non-Nigerian Resident'>Non-Nigerian Resident</option>
																	<option value='Abia'>Abia</option>
																	<option value='Adamawa'>Adamawa</option>
																	<option value='AkwaIbom'>AkwaIbom</option>
																	<option value='Anambra'>Anambra</option>
																	<option value='Bauchi'>Bauchi</option>
																	<option value='Bayelsa'>Bayelsa</option>
																	<option value='Benue'>Benue</option>
																	<option value='Borno'>Borno</option>
																	<option value='Cross River'>Cross River</option>
																	<option value='Delta'>Delta</option>
																	<option value='Ebonyi'>Ebonyi</option>
																	<option value='Edo'>Edo</option>
																	<option value='Ekiti'>Ekiti</option>
																	<option value='Enugu'>Enugu</option>
																	<option value='FCT'>FCT</option>
																	<option value='Gombe'>Gombe</option>
																	<option value='Imo'>Imo</option>
																	<option value='Jigawa'>Jigawa</option>
																	<option value='Kaduna'>Kaduna</option>
																	<option value='Kano'>Kano</option>
																	<option value='Katsina'>Katsina</option>
																	<option value='Kebbi'>Kebbi</option>
																	<option value='Kogi'>Kogi</option>
																	<option value='Kwara'>Kwara</option>
																	<option value='Lagos'>Lagos</option>
																	<option value='Nasarawa'>Nasarawa</option>
																	<option value='Niger'>Niger</option>
																	<option value='Ogun'>Ogun</option>
																	<option value='Ondo'>Ondo</option>
																	<option value='Osun'>Osun</option>
																	<option value='Oyo'>Oyo</option>
																	<option value='Plateau'>Plateau</option>
																	<option value='Rivers'>Rivers</option>
																	<option value='Sokoto'>Sokoto</option>
																	<option value='Taraba'>Taraba</option>
																	<option value='Yobe'>Yobe</option>
																	<option value='Zamfara'>Zamafara</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">LGA</label>
																<select name="residence-lga" id="lga3" class="form-control" required>
																</select>
															</div>
														</div>
													</div>
											</div>

											<div class="form-category">
												<h4>Where would you like your partner to come from?</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">State</label>
																<select name="origin-state" id="state4" class="form-control">
																	<option value="" selected="selected" disabled></option>

																	<option value='Does Not Matter'>Does Not Matter</option>
																	<option value='Non-Nigerian'>Non-Nigerian</option>
																	<option value='Abia'>Abia</option>
																	<option value='Adamawa'>Adamawa</option>
																	<option value='AkwaIbom'>AkwaIbom</option>
																	<option value='Anambra'>Anambra</option>
																	<option value='Bauchi'>Bauchi</option>
																	<option value='Bayelsa'>Bayelsa</option>
																	<option value='Benue'>Benue</option>
																	<option value='Borno'>Borno</option>
																	<option value='Cross River'>Cross River</option>
																	<option value='Delta'>Delta</option>
																	<option value='Ebonyi'>Ebonyi</option>
																	<option value='Edo'>Edo</option>
																	<option value='Ekiti'>Ekiti</option>
																	<option value='Enugu'>Enugu</option>
																	<option value='FCT'>FCT</option>
																	<option value='Gombe'>Gombe</option>
																	<option value='Imo'>Imo</option>
																	<option value='Jigawa'>Jigawa</option>
																	<option value='Kaduna'>Kaduna</option>
																	<option value='Kano'>Kano</option>
																	<option value='Katsina'>Katsina</option>
																	<option value='Kebbi'>Kebbi</option>
																	<option value='Kogi'>Kogi</option>
																	<option value='Kwara'>Kwara</option>
																	<option value='Lagos'>Lagos</option>
																	<option value='Nasarawa'>Nasarawa</option>
																	<option value='Niger'>Niger</option>
																	<option value='Ogun'>Ogun</option>
																	<option value='Ondo'>Ondo</option>
																	<option value='Osun'>Osun</option>
																	<option value='Oyo'>Oyo</option>
																	<option value='Plateau'>Plateau</option>
																	<option value='Rivers'>Rivers</option>
																	<option value='Sokoto'>Sokoto</option>
																	<option value='Taraba'>Taraba</option>
																	<option value='Yobe'>Yobe</option>
																	<option value='Zamfara'>Zamafara</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">LGA</label>
																<select name="origin-lga" id="lga4" class="form-control" required>
																</select>
															</div>
														</div>
													</div>
											</div>

											<div class="form-category">
												<h4>Your Partner's Sexuality & Status</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Preferred Partner's Marital Status?</label>
																<select name="marital-status" id="marital-status2" class="form-control" required>
																	<option value='Does Not Matter' selected="selected">Does Not Matter</option>
																	<option value="Single">Single</option>
																	<option value="Seperated">Separated</option>
																	<option value="Divorced">Divorced</option>
																	<option value="Widowed">Widowed</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your ideal partner must not have children?</label>
																<select name="children" id="children2" class="form-control" required>
																	<option value="Does Not Matter">Does Not Matter</option>
																	<option value="Yes">Yes, No children please.</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Ideal Partner's Minimum Age</label>
																<input type="number" min="21" name="min-age" id="age2" value="21" class="form-control">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Ideal Partner's Maximum Age</label>
																<input type="number" min="22" name="max-age" id="age3" value="99" class="form-control">
															</div>
														</div>

													</div>
											</div>

											<div class="form-category">
												<h4>Your Ideal Partner's Education & Work</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Minimum level of education</label>
																<select name="education" id="education2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">SSCE</option>
																	<option value="2">OND</option>
																	<option value="3">HND</option>
																	<option value="4">Bachelors</option>
																	<option value="5">PGD/PCE</option>
																	<option value="6">Masters</option>
																	<option value="7">Doctorate</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Average net worth</label>
																<select name="net-worth" id="net-worth2" class="form-control" required>
																	<option value="Does Not Matter" selected>Does Not Matter</option>
																	<option value="1">Less than N100,000</option>
																	<option value="2">N100,000 - N500,000</option>
																	<option value="3">N500,000 - N1,000,000</option>
																	<option value="4">N1,000,000 - N10,000,000</option>
																	<option value="5">N10,000,000 - N100,000,000</option>
																	<option value="6">N100,000,000 - 1 Billion</option>
																	<option value="7">Above 1 Billion</option>
																</select>
															</div>
														</div>
													</div>

											</div>

											<div class="form-category">
												<h4>Your Ideal Partner's Body & Soul</h3>
													<hr>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Blood Group</label>
																<select name="blood-group" id="blood-group2" class="form-control">
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">A</option>
																	<option value="2">B</option>
																	<option value="3">AB</option>
																	<option value="4">O</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Ideal Partner's Genotype</label>
																<select name="genotype" id="genotype2" class="form-control" required>
																	<option value="Does Not Matter" selected>Does Not Matter</option>
																	<option value="1">AA Only</option>
																	<option value="2">AA or AS</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Ideal Partner's Religion</label>
																<select name="religion" id="religion2" class="form-control">
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value='Christian'>Christian</option>
																	<option value='Muslim'>Muslim</option>
																	<option value='Unaffiliated'>Unaffiliated</option>
																	<option value='Other'>Other</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Your Denomination</label>
																<select name="denomination" id="denomination2" class="form-control" required>
																</select>
															</div>
														</div>
													</div>
											</div>

											<div class="form-category">
												<h4>Your Ideal Partner's Physique</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Complexion</label>
																<select name="complexion" id="complexion2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Albino</option>
																	<option value="2">Light Skinned</option>
																	<option value="3">Normal Brown</option>
																	<option value="4">Dark Brown</option>
																	<option value="5">Deep Brown</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Height</label>
																<select name="height" id="height2" class="form-control" required>
																	<option value="Does Not Matter" selected>Does Not Matter</option>
																	<option value="1">Really Short</option>
																	<option value="2">Short</option>
																	<option value="3">Average</option>
																	<option value="4">Tall</option>
																	<option value="5">Really Tall</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Body Shape</label>
																<select name="body-shape" id="body-shape2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Straight</option>
																	<option value="2">Pear</option>
																	<option value="3">Apple</option>
																	<option value="4">Hourglass</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Body Type</label>
																<select name="body-type" id="body-type2" class="form-control" required>
																	<option value="Does Not Matter" selected>Does Not Matter</option>
																	<option value="1">Ectomorphic</option>
																	<option value="2">Mesomorphic</option>
																	<option value="3">Endomorphic</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Body Size</label>
																<select name="body-size" id="body-size2" class="form-control" required>
																	<option value="Does Not Matter" selected>Does Not Matter</option>
																	<option value="1">Skinny</option>
																	<option value="2">Slim</option>
																	<option value="3">Average</option>
																	<option value="4">Large</option>
																	<option value="5">Extra Large</option>
																</select>
															</div>
														</div>
													</div>

											</div>

											<div class="form-category">
												<h4>Your Ideal Partner's Social Habits</h3>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Does your ideal partner drink?</label>
																<select name="drink" id="drink2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Yes</option>
																	<option value="2">Socially</option>
																	<option value="3">No</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Does your ideal partner smoke?</label>
																<select name="smoke" id="smoke2" class="form-control" required>
																	<option value="Does Not Matter" selected>Does Not Matter</option>
																	<option value="1">Yes</option>
																	<option value="2">Socially</option>
																	<option value="3">No</option>
																</select>
															</div>
														</div>
													</div>

											</div>

											<div class="form-category">
												<h4>Your Ideal Partner's Personality</h3>
													<hr>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Openness *</strong> - How open minded do you want your partner to be?</label>
															</div>
															<div class="col-md-4">
																<select name="openness" id="openness2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Not really</option>
																	<option value="2">Moderately</option>
																	<option value="3">Very Open</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Conscientiousness *</strong> - How diligent and careful do you want your partner to be?</label>
															</div>
															<div class="col-md-4">
																<select name="conscientiousness" id="conscientiousness2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Careless</option>
																	<option value="2">Moderately Diligent</option>
																	<option value="3">Very Careful/Diligent</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Extraversion *</strong> - How socially outgoing do you want your partner to be?</label>
															</div>
															<div class="col-md-4">
																<select name="extraversion" id="extraversion2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Reserved</option>
																	<option value="2">Moderately Outgoing</option>
																	<option value="3">Very Outgoing</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Agreeableness *</strong> - How friendly or tactful do you want your partner to be?</label>
															</div>
															<div class="col-md-4">
																<select name="agreeableness" id="agreeableness2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Detatched</option>
																	<option value="2">Challenging</option>
																	<option value="3">Friendly</option>
																	<option value="4">Compassionate</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-8">

																<label class="control-label"><strong>Neurotism *</strong> <span>- How emotionally sensitive do you want your partner to be?</span></label>
															</div>
															<div class="col-md-4">
																<select name="neurotism" id="neurotism2" class="form-control" required>
																	<option value="Does Not Matter" selected="selected">Does Not Matter</option>
																	<option value="1">Cold and Distant</option>
																	<option value="2">Moderately Sensitive</option>
																	<option value="3">Very Sensitive</option>
																</select>
															</div>
														</div>
													</div>


											</div>

											<div class="form-category">
												<h4>Choose Your Dealbreakers.</h3>
													<span>These are two features that you absolutely will not compromise on. If these conditions are not exactly what you want, the potential partner will not be considered.</span>
													<hr>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">First Dealbreaker</label>
																<select name="dealbreaker1" id="dealbreaker1" class="form-control">
																	<option value="No Dealbreaker" selected="selected">No Dealbreaker</option>
																	<option value="residence-state">State of Residence</option>
																	<option value="origin-state">State of Origin</option>
																	<option value="religion">Religion</option>
																	<option value="denomination">Denomination</option>
																	<option value="marital-status">Marital Status</option>
																	<option value="children">Children</option>
																	<option value="blood-group">Blood Group</option>
																	<option value="genotype">Genotype</option>
																	<option value="body-size">Body Size</option>
																	<option value="drink">Drinks</option>
																	<option value="smoke">Smokes</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label">Second Dealbreaker</label>
																<select name="dealbreaker2" id="dealbreaker2" class="form-control">
																	<option value="No Dealbreaker" selected="selected">No Dealbreaker</option>
																</select>
															</div>
														</div>
													</div>

											</div>


										</div>
										</form>
										<form></form>

										<div class="tab">

											A bunch of lorem ipsums go here. rules and instructions and stuff, before client can submit form and make payment.


										</div>

										<div style="overflow:auto;">
											<div style="float:right;">
												<button type="button" id="prevBtn" onclick="nextPrev(-1);topFunction()">Previous</button>
												<button type="button" id="nextBtn" onclick="nextPrev(1);topFunction()">Next</button>
											</div>
										</div>
										<!-- Circles which indicates the steps of the form: -->
										<div style="text-align:center;margin-top:40px;">
											<span class="step"></span>
											<span class="step"></span>
											<span class="step"></span>
										</div>
									

								</div>

							</div>

						</div>

						<div class="w-100 line d-block d-md-none"></div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{% include "footer.html" %}
		<!-- #footer end -->

{% endblock content %}
		