{% extends "index.html" %}
{% load static %}
{% block title %}
Nigeria's best dating site for professionals
{% endblock title %}

{% block content %}

<!-- Header
		============================================= -->
<header id="header" class="full-header transparent-header border-full-header dark static-sticky"
	data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
					============================================= -->
			<div id="logo">
				<a href={% url 'home'  %} class="standard-logo" data-dark-logo={% static 'images/logo-dark.png' %}><img
						src={% static 'images/logo.png' %} alt="Datefix Logo"></a>
				<a href={% url 'home'  %} class="retina-logo" data-dark-logo={% static 'images/logo-dark.png' %}><img
						src={% static 'images/logo.png' %} alt="Datefix Logo"></a>
			</div><!-- #logo end -->


			<!-- Primary Navigation
					============================================= -->
			<nav id="primary-menu">

				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
					<li><a href="#" data-href="#wrapper">
							<div>Home</div>
						</a></li>
					<li><a href="#" data-href="#fixers">
							<div>The Fixers</div>
						</a></li>
					<li><a href="#" data-href="#howitworks">
							<div>How Datefix Works</div>
						</a></li>
					<li><a href={% url 'login' %}>
							<div>Join Datefix / Login</div>
						</a></li>
				</ul>


				<div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-line-heart"></i></a>
				</div>


			</nav><!-- #primary-menu end -->


		</div>

	</div>

</header><!-- #header end -->


<!-- Slider
		============================================= -->
<section id="slider" class="slider-element slider-parallax full-screen force-full-screen">

	<div class="slider-parallax-inner">

		<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden"
			style="background-image: url({% static "images/page/main.jpg" %}); background-size: cover; background-position: center center;">

			<div class="container center">
				<div class="vertical-middle">
					<div class="emphasis-title">
						<h1>
							<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeInUp"
								data-speed="6000">
								<span class="t-rotate t700 font-body opm-large-word" data-animate="fadeInUp">Welcome to
									Datefix.|Nigeria’s No. 1 dating site for
									professionals.|Meet the partner of your dreams.|AI-assisted matching
									algorithms.|Join Datefix now.</span>
							</span>
						</h1>
					</div>
					<a href="#" data-scrollto="#howitworks" class="button button-border button-light button-circle"
						data-easing="easeInOutExpo" data-speed="1250" data-offset="70">How Datefix Works</a>
					<a href={% url 'login'  %} class="button button-border button-light button-circle cta-join"
						data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Join Datefix Now</a>
				</div>
			</div>

			<div class="video-wrap">
				<div class="video-overlay" style="background-color: rgba(0,0,0,0.05);"></div>
			</div>

			<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65"
				class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

		</div>

	</div>

</section><!-- #slider end -->

<!-- Content
		============================================= -->

<section id="content"
	style=" background-image: url({% static "images/page/bg.jpg"%}); background-size: cover; background-attachment: fixed;">

	<div class="content-wrap nopadding">

		<div id="section-about">

			<div class="section nomargin parallax dark nobottommargin"
				style="background-image: url({% static "images/page/pfbgx.png" %}); padding: 70px 50px; background-position: center center; background-color: #000;"
				data-bottom-top="background-position:15px 80px;" data-top-bottom="background-position:-15px -80px;">
				<div class="container clearfix topmargin-lg bottommargin-lg">

					<div class="row grid-container" data-layout="masonry" style="overflow: visible">



						<div class="col-lg-4 mb-4">
							<div class="flip-card text-center top-to-bottom">
								<div class="flip-card-front dark"
									style="background-image: url({% static "images/page/tile2.jpg" %});">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<i class="icon-ok-sign h3"></i>
												<h3 class="card-title">Intelligent Matchmaking</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back"
									style="background-image: url({% static "images/page/back.jpg" %});">
									<div class="flip-card-inner">
										<p class="mb-2 text-white">Our matchmaking algorithm is tuned to deliver the
											most relevant and active prospects based on your mutual preferences.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4">
							<div class="flip-card text-center">
								<div class="flip-card-front dark"
									style="background-image:  url({% static "images/page/tile1.jpg" %})">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<i class="icon-line-bar-graph h3"></i>
												<h3 class="card-title">High Success Rate</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back"
									style="background-image: url({% static "images/page/back.jpg" %})" no-after>
									<div class="flip-card-inner">
										<p class="mb-2 text-white">Hundreds of singles find love through our platform
											each month. Register today to find your special person on Datefix.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4">
							<div class="flip-card text-center">
								<div class="flip-card-front dark"
									style="background-image: url({% static "images/page/tile4.jpg" %});">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<i class="icon-users h3"></i>
												<h3 class="card-title">Meet eligible Nigerian Singles</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back"
									style="background-image: url({% static "images/page/back.jpg" %});">
									<div class="flip-card-inner">
										<p class="mb-2 text-white">Datefix is only for those who want a serious
											relationship. Over 90% of our members are 30+ and hold an above-average
											education.</p>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div id="howitworks" class="divider divider-short divider-center topmargin-md"><i
						class="icon-star3"></i></div>

				<div class="heading-block center">
					<h3>How Datefix Works</h3>
				</div>

				<div class="row divcenter center">


					<div class="col-lg-4 featureline" data-animate="fadeInLeft" data-delay="5">
						<i class="i-plain color i-large icon-play-circle inline-block" style="margin-bottom: 15px;"></i>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 class="hoverline">Register</h4>
						</div>
						<p>Just tell us a couple of things about you. Say your phone number, location, sex
							and email address so you can get on the platform.</p>
					</div>

					<div class="col-lg-4 featureline" data-animate="fadeInUp" data-delay="600">
						<i class="i-plain color i-large icon-clipboard-list inline-block"
							style="margin-bottom: 15px;"></i>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 class="hoverline">Be Specific</h4>
						</div>
						<p>Not everyone likes tall dark and handsome. Just kidding. But we know your specs
							are unique so we'll let you even pick a deal breaker.</p>
					</div>

					<div class="col-lg-4 featureline" data-animate="fadeInRight" data-delay="900">
						<i class="i-plain color i-large icon-line-heart inline-block" style="margin-bottom: 15px;"></i>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 class="hoverline">Get a Date</h4>
						</div>
						<p>Once in a while, we'll send you your perfect match and then you can get intouch
							with each other and see if it's a perfect match.</p>
					</div>

				</div>

			</div>

			<div class="section nomargin" style="padding-bottom: 0px;">
				<div class="container clearfix">
					<div class="divcenter center" style="max-width: 900px;">

						<h1 class="notopmargin t300 ls1">For the Working Professional</h1>

					</div>

					<div class="row divcenter center">

						<p style="font-size: 20px;font-weight: 300;">Here at DateFix, we understand that the demands of
							modern life leaves close to no room for socialization in the life of a Nigerian Professional
							and so we aim to bridge this societal gap by bringing like-minded compatible singles to your
							niche.</p>

						<p style="font-size: 20px;font-weight: 300;">We do not claim to arrange a relationship for you
							rather we bring potential life partners close to you, people who you would otherwise not
							have the time and opportunity to meet. Ultimately, your destiny remains in your hands as you
							take the initiative and call the shots in any given fix.</p>


						<div class="col-lg-3 featureline" data-animate="fadeInLeft" data-delay="5">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">Exclusivity</h4>
							</div>
							<p>Our paid subscription ensures that our service is closed to a certain class of persons
								and therefore not free for all</p>
						</div>

						<div class="col-lg-3 featureline" data-animate="fadeInUp" data-delay="300">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">Broad Search</h4>
							</div>
							<p>Datefix breaks the barrier of meeting people outside your social circle or local
								community by casting your net wider for people with similar interest.</p>
						</div>

						<div class="col-lg-3 featureline" data-animate="fadeInUp" data-delay="600">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">Your Choice</h4>
							</div>
							<p>Datefix runs an automated search then lets you take your time to choose which one result
								you have the best connection with.</p>
						</div>

						<div class="col-lg-3 featureline" data-animate="fadeInRight" data-delay="900">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">The Fixers</h4>
							</div>
							<p>DateFix forums are superintended by professionals in the counseling, psychology and
								medical fields who give expert advice to Datefix members</p>
						</div>

					</div>
				</div>

				<div id="video-corner" class="divider divider-short divider-center topmargin-md"><i
						class="icon-star3"></i></div>

				<div class="heading-block center">
					<h3>Video Perspectives</h3>
				</div>


				<div class="masonry-thumbs grid-3 clearfix">
					<a href="https://www.youtube.com/watch?v=haZnBJI7A68" data-lightbox="iframe">
						<img src="{% static 'images/page/vidp.jpg' %}" />
						<div class="overlay center">
							<div class="overlay-wrap">
								<div
									style="position: absolute;bottom: 0px;padding-left: 30px;padding-right: 30px;padding-bottom: 0px;">
									<h3 class="nobottommargin" style="font-size: 20px;color: #fff;">HOW SHOULD MONEY BE
										HANDLED IN A
										RELATIONSHIP</h3>
									<hr style="background-color: #fff;">

									<p style="font-size: 15px;color: #fff;">
										One of the biggest areas of conflict in a relationship is money. Finances. How
										should
										each person spend and on what? Should there be a joint account or just joint
										accounting? Huge difference.
										Coach Sylvia touches on this in this video and sheds some light on the issue.
										What do you think?</p>
								</div>
							</div>
						</div>
					</a>
					<a href="https://www.youtube.com/watch?v=pJ9J0yUlVww" data-lightbox="iframe">
						<img src="{% static 'images/page/vidp.jpg' %}" />
						<div class="overlay center">
							<div class="overlay-wrap">
								<div
									style="position: absolute;bottom: 0px;padding-left: 30px;padding-right: 30px;padding-bottom: 10px;">
									<h3 class="nobottommargin" style="font-size: 20px;color: #fff;">“Money builds strong
										affection in a
										relationship” - Single lady on Datefix</h3>
									<hr style="background-color: #fff;">

									<p style="font-size: 15px;color: #fff;">
										Here is a video about why Money is important in a relationship. What’s your take
										on this?<br>
										If you will like to see more opinions about
										relationships, Subscribe to the channel and follow our IG page @datefix.me</p>
								</div>
							</div>
						</div>
					</a>
					<a href="https://www.youtube.com/watch?v=LnXYqWf5awI" data-lightbox="iframe">
						<img src="{% static 'images/page/vidp.jpg' %}" />
						<div class="overlay center">
							<div class="overlay-wrap">
								<div
									style="position: absolute;bottom: 0px;padding-left: 30px;padding-right: 30px;padding-bottom: 10px;">
									<h3 class="nobottommargin" style="font-size: 20px;color: #fff;">NOT SO SWEET SUGAR
										DADDY?</h3>
									<hr style="background-color: #fff;">

									<p style="font-size: 15px;color: #fff;">
										In this video, A single lady on datefix talks about the pros and cons of having
										a sugar daddy.<br>
										This is a totally objective review, not indicative of her preferences :)</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="section nomargin parallax dark nobottommargin topmargin-sm"
				style="background-image: url({% static "images/page/main2.jpg" %}); background-size: cover; padding: 100px 0; background-position: center center; background-color: #000;"
				data-bottom-top="background-position:25px 80px;" data-top-bottom="background-position:-25px -80px;">

				<div class="divider divider-short divider-center topmargin-md"><i class="icon-star3"></i></div>
				<div class="heading-block center">
					<h3 class="divcenter">Some Online Dating Facts</h3>
				</div>

				<div class="row bottommargin-sm">

					<div class="col-lg-4 col-md-6">

						<div class="feature-box fbox-right" data-animate="fadeIn">
							<div class="fbox-icon">
								<a href="#"><i class="icon-glass"></i></a>
							</div>
							<h3>Little White Lies</h3>
							<p>50% to 80% of people who use online dating lie about themselves on their profile
							</p>
						</div>

						<div class="feature-box fbox-right" data-animate="fadeIn" data-delay="200">
							<div class="fbox-icon">
								<a href="#"><i class="icon-chart-pie"></i></a>
							</div>
							<h3>Venus and Mars</h3>
							<p>Online dating users are 52.4% men and 47.6% women. This statistic varies from
								site to site.</p>
						</div>

						<div class="feature-box fbox-right" data-animate="fadeIn" data-delay="400">
							<div class="fbox-icon">
								<a href="#"><i class="icon-user-friends"></i></a>
							</div>
							<h3>Second Opinion</h3>
							<p>One in five people asks for help from a pal to set up their online dating
								profile.</p>
						</div>

					</div>

					<div class="col-lg-4 d-md-none d-lg-block center">
						&nbsp;
					</div>

					<div class="col-lg-4 col-md-6">

						<div class="feature-box fbox-left " data-animate="fadeIn">
							<div class="fbox-icon">
								<a href="#"><i class="icon-phone-portrait"></i></a>
							</div>
							<h3>Computer Love</h3>
							<p>Between 2002-2012, more than 1/3 of newlyweds met through an online dating site.
							</p>
						</div>

						<div class="feature-box fbox-left" data-animate="fadeIn" data-delay="200">
							<div class="fbox-icon">
								<a href="#"><i class="icon-hourglass-half"></i></a>
							</div>
							<h3>Putting in the Hours</h3>
							<p>On average women spend 8.5 minutes per session on dating sites, while men spend
								7.2.</p>
						</div>

						<div class="feature-box fbox-left" data-animate="fadeIn" data-delay="400">
							<div class="fbox-icon">
								<a href="#"><i class="icon-line-heart"></i></a>
							</div>
							<h3>Cuffing Season</h3>
							<p> the busiest time of the year is between December 26 and February 14 in terms of
								dates arranged.</p>
						</div>

					</div>

				</div>



			</div>





		</div>

		<div id="section-services" class="page-section notoppadding">

			<div class="section dark nomargin"
				style="background-image: url(images/page/hiwbg.jpg);background-attachment: fixed;background-size: cover;">
				<div class="divcenter center" style="max-width: 900px;">
					<h2 class="nobottommargin t300 ls1"><a href={% url 'login'  %} data-offset="140"
							data-easing="easeInOutExpo" data-speed="1250"
							class="button button-border button-circle button-light button-large notopmargin nobottommargin"
							style="position: relative; top: -3px;">Get Started</a></h2>
				</div>
			</div>

		</div>

		<div id="section-contact" class="page-section notoppadding">

			<div class="container clearfix">

				<div class="divcenter topmargin" style="max-width: 850px;">

					<div class="form-widget">

						<div class="form-result"></div>

						<form class="nobottommargin" id="template-contactform" name="template-contactform"
							action="../include/form.php" method="post">

							<div class="form-process"></div>

							<div class="col_half">
								<input type="text" id="template-contactform-name" name="template-contactform-name"
									value="" class="sm-form-control border-form-control required" placeholder="Name" />
							</div>
							<div class="col_half col_last">
								<input type="email" id="template-contactform-email" name="template-contactform-email"
									value="" class="required email sm-form-control border-form-control"
									placeholder="Email Address" />
							</div>

							<div class="clear"></div>

							<div class="col_one_third">
								<input type="text" id="template-contactform-phone" name="template-contactform-phone"
									value="" class="sm-form-control border-form-control" placeholder="Phone" />
							</div>

							<div class="col_two_third col_last">
								<input type="text" id="template-contactform-subject" name="subject" value=""
									class="required sm-form-control border-form-control" placeholder="Subject" />
							</div>

							<div class="clear"></div>

							<div class="col_full">
								<textarea class="required sm-form-control border-form-control"
									id="template-contactform-message" name="template-contactform-message" rows="7"
									cols="30" placeholder="Your Message"></textarea>
							</div>

							<div class="col_full center">
								<button class="button button-border button-circle t500 noleftmargin topmargin-sm"
									type="submit" id="template-contactform-submit" name="template-contactform-submit"
									value="submit">Send Message</button>
								<br>
								<small style="display: block; font-size: 13px; margin-top: 15px;">We'll do our
									best to get back to you within 6-8 working hours.</small>
							</div>

							<div class="clear"></div>

							<div class="col_full hidden">
								<input type="text" id="template-contactform-botcheck"
									name="template-contactform-botcheck" value="" class="sm-form-control" />
							</div>

							<input type="hidden" name="prefix" value="template-contactform-">

						</form>

					</div>

				</div>

			</div>

		</div>

	</div>

</section><!-- #content end -->

<!-- Footer
		============================================= -->
{% include "footer.html" %}

<!-- #footer end -->

{% endblock content %}

{% block script %}



{% endblock script %}

{% block fixed %}
fixed-bottom
{% endblock fixed %}