{% extends "index.html" %}
{% load static %}
{% block title %}
Nigeria's best dating site for professionals
{% endblock title %}

{% block content %}

<!-- Header
		============================================= -->
<header id="header" class="full-header transparent-header border-full-header dark static-sticky"
	data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

	<div id="header-wrap">

		<div class="container clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
					============================================= -->
			<div id="logo">
				<a href={% url 'home'  %} class="standard-logo" data-dark-logo={% static 'images/logo-dark.png' %}><img
						src={% static 'images/logo.png' %} alt="Datefix Logo"></a>
				<a href={% url 'home'  %} class="retina-logo" data-dark-logo={% static 'images/logo-dark.png' %}><img
						src={% static 'images/logo.png' %} alt="Datefix Logo"></a>
			</div><!-- #logo end -->


			<!-- Primary Navigation
					============================================= -->
			<nav id="primary-menu">

				<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
					<li><a href="#" data-href="#wrapper">
							<div>Home</div>
						</a></li>
					<li><a href="#" data-href="#howitworks">
							<div>How Datefix Works</div>
						</a></li>
					<li><a href="#" data-href="#video-corner">
							<div>Video Perspectives</div>
						</a></li>
					<li><a href="#" data-href="#questions">
							<div>FAQs</div>
						</a></li>
					{% if not request.user.is_authenticated %}
						<li><a href={% url 'login' %}>
							<div>Join Datefix / Login</div>
						</a></li>
					{% else %}
						<li><a href={% url 'logout' %}>
							<div>Log Out</div>
						</a></li>
					{% endif %}
					
				</ul>


				<div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-line-heart"></i></a>
				</div>


			</nav><!-- #primary-menu end -->


		</div>

	</div>

</header><!-- #header end -->


<!-- Slider
		============================================= -->
<section id="slider" class="slider-element slider-parallax full-screen force-full-screen">

	<div class="slider-parallax-inner">

		<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden"
			style="background-image: url({% static "images/page/main.jpg" %}); background-size: cover; background-position: center center;">

			<div class="container center">
				<div class="vertical-middle">
					<div class="emphasis-title">
						<h1>
							<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeInUp"
								data-speed="6000">
								<span class="t-rotate t700 font-body opm-large-word" data-animate="fadeInUp">Welcome to
									Datefix.|Nigeria’s No. 1 dating site for
									professionals.|Meet the partner of your dreams.|AI-assisted matching
									algorithms.|Join Datefix now.</span>
							</span>
						</h1>
					</div>
					<a href="#" data-scrollto="#howitworks" class="button button-border button-light button-circle"
						data-easing="easeInOutExpo" data-speed="1250" data-offset="70">How Datefix Works</a>
					<a href={% url 'login'  %} class="button button-border button-light button-circle cta-join"
						data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Join Datefix Now</a>
				</div>
			</div>

			<div class="video-wrap">
				<div class="video-overlay" style="background-color: rgba(0,0,0,0.05);"></div>
			</div>

			<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65"
				class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

		</div>

	</div>

</section><!-- #slider end -->

<!-- Content
		============================================= -->

<section id="content" class="section parallax nomargin nopadding"
	style=" background-image: url({% static "images/page/bg1.jpg"%}); background-size: cover; background-attachment: fixed;"
	data-bottom-top="background-position:15px 80px;" data-top-bottom="background-position:-15px -100px;">

	<div class="content-wrap nopadding">

		<div id="section-about">

			<div class="section nomargin parallax dark nobottommargin"
				style="background-image: url({% static "images/page/pfbgx.png" %}); padding: 70px 50px; background-position: center center; background-color: #000;"
				data-bottom-top="background-position:15px 80px;" data-top-bottom="background-position:-15px -80px;">
				<div class="container clearfix topmargin-lg bottommargin-lg">

					<div class="row grid-container" data-layout="masonry" style="overflow: visible">



						<div class="col-lg-4 mb-4">
							<div class="flip-card text-center top-to-bottom">
								<div class="flip-card-front dark"
									style="background-image: url({% static "images/page/tile2.jpg" %});">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<i class="icon-ok-sign h3"></i>
												<h3 class="card-title">Intelligent Matchmaking</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back"
									style="background-image: url({% static "images/page/back.jpg" %});">
									<div class="flip-card-inner">
										<p class="mb-2 text-white">Our matchmaking algorithm is tuned to deliver the
											most relevant and active prospects based on your mutual preferences.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4">
							<div class="flip-card text-center">
								<div class="flip-card-front dark"
									style="background-image:  url({% static "images/page/tile1.jpg" %})">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<i class="icon-line-bar-graph h3"></i>
												<h3 class="card-title">High Success Rate</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back"
									style="background-image: url({% static "images/page/back.jpg" %})" no-after>
									<div class="flip-card-inner">
										<p class="mb-2 text-white">Hundreds of singles find love through our platform
											each month. Register today to find your special person on Datefix.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4">
							<div class="flip-card text-center">
								<div class="flip-card-front dark"
									style="background-image: url({% static "images/page/tile4.jpg" %});">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<i class="icon-users h3"></i>
												<h3 class="card-title">Meet eligible Nigerian Singles</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back"
									style="background-image: url({% static "images/page/back.jpg" %});">
									<div class="flip-card-inner">
										<p class="mb-2 text-white">Datefix is only for those who want a serious
											relationship. Over 90% of our members are 25+ and hold an above-average
											education.</p>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div id="howitworks" class="divider divider-short divider-center topmargin-md"><i
						class="icon-star3"></i></div>

				<div class="heading-block center">
					<h3>How Datefix Works</h3>
				</div>

				<div class="row divcenter center">


					<div class="col-lg-4 x-padding-40 featureline" data-animate="fadeInLeft" data-delay="5">
						<i class="i-plain color i-large icon-play-circle inline-block" style="margin-bottom: 15px;"></i>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 class="hoverline">Register</h4>
						</div>
						<p>Just tell us a couple of things about you. Say your phone number, location, sex
							and email address so you can get on the platform.</p>
					</div>

					<div class="col-lg-4 x-padding-40 featureline" data-animate="fadeInUp" data-delay="600">
						<i class="i-plain color i-large icon-clipboard-list inline-block"
							style="margin-bottom: 15px;"></i>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 class="hoverline">Be Specific</h4>
						</div>
						<p>Not everyone likes tall dark and handsome. Just kidding. But we know your specs
							are unique so we'll let you even pick a deal breaker.</p>
					</div>

					<div class="col-lg-4 x-padding-40 featureline" data-animate="fadeInRight" data-delay="900">
						<i class="i-plain color i-large icon-line-heart inline-block" style="margin-bottom: 15px;"></i>
						<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
							<h4 class="hoverline">Get a Date</h4>
						</div>
						<p>Once in a while, we'll send you your perfect match and then you can get intouch
							with each other and see if it's a perfect match.</p>
					</div>

					<div class="divider divider-short divider-center topmargin-md"><i class="icon-star3"></i></div>

					<div class="divcenter center" style="max-width: 900px;">

						<h1 class="notopmargin t300 ls1">For the Working Professional</h1>

					</div>

					<div class="row divcenter center">

						<div class="col_one_fifth" style="overflow: hidden;
						border-radius: 15px; height: fit-content;" data-animate="fadeInLeft" data-delay="250">
							<img src="{% static "images/page/pro1.jpg" %}" style="    width: fit-content;
							height: 100%;"></img>
						</div>

						<div class="col_three_fifth">

							<p style="font-size: 20px;font-weight: 300;">Here at DateFix, we understand that the
								demands
								of
								modern life leaves close to no room for socialization in the life of a Nigerian
								Professional
								and so we aim to bridge this societal gap by bringing like-minded compatible singles
								to
								your
								niche.</p>

							<p style="font-size: 20px;font-weight: 300;">We do not claim to arrange a relationship
								for
								you
								rather we bring potential life partners close to you, people who you would otherwise
								not
								have the time and opportunity to meet. Ultimately, your destiny remains in your
								hands as
								you
								take the initiative and call the shots in any given fix.</p>
						</div>

						<div class="col_one_fifth col_last" style="overflow: hidden;
						border-radius: 15px; height: fit-content;" data-animate="fadeInRight" data-delay="250">
							<img src="{% static "images/page/pro2.jpg" %}" style="    width: fit-content;
							height: 100%;"></img>
						</div>
					</div>

					<hr style="background-color: #fff;">

					<div class="row divcenter center">

						<div class="col-lg-3 featureline" data-animate="fadeInLeft" data-delay="5">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">Exclusivity</h4>
							</div>
							<p>Our paid subscription ensures that our service is closed to a certain class of persons
								and therefore not free for all</p>
						</div>

						<div class="col-lg-3 featureline" data-animate="fadeInUp" data-delay="300">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">Broad Search</h4>
							</div>
							<p>Datefix breaks the barrier of meeting people outside your social circle or local
								community by casting your net wider for people with similar interest.</p>
						</div>

						<div class="col-lg-3 featureline" data-animate="fadeInUp" data-delay="600">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">Your Choice</h4>
							</div>
							<p>Datefix runs an automated search then lets you take your time to choose which one result
								you have the best connection with.</p>
						</div>

						<div class="col-lg-3 featureline" data-animate="fadeInRight" data-delay="900">
							<i class="i-plain color i-large icon-star inline-block" style="margin-bottom: 15px;"></i>
							<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
								<h4 class="hoverline">The Fixers</h4>
							</div>
							<p>DateFix forums are superintended by professionals in the counseling, psychology and
								medical fields who give expert advice to Datefix members</p>
						</div>

					</div>

					<a href={% url 'login'  %}
						class="topmargin button button-rounded button-reveal button-large button-red tright"
						style="margin-left: auto; margin-right: auto;"><i class="icon-heart"></i><span>Join Datefix
							Now</span></a>


				</div>


			</div>

		</div>

		<div class="section notopmargin bottommargin"
			style="padding-bottom: 0px; margin-left: 30px; margin-right: 30px;">


			<div id="video-corner" class="divider divider-short divider-center notopmargin"><i class="icon-star3"></i>
			</div>

			<div class="heading-block center">
				<h3 style="color:#fff!important;">Video Perspectives</h3>
			</div>


			<div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-loop="true" data-autoplay="4500"
				data-margin="20" data-nav="true" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-md="3"
				data-items-lg="4" data-lightbox="gallery">

				<div class="oc-item">
					<div class="oc-card">
						<div class="ipost clearfix">
							<div class="entry-image" style="overflow: hidden; border-radius: 15px;">
								<a href="https://www.youtube.com/watch?v=haZnBJI7A68" data-lightbox="iframe">
									<img src="{% static 'images/page/vidp.jpg' %}" />
									<div class="overlay center">
										<div class="overlay-wrap">
											<div
												style="position: absolute;bottom: 0px;padding-left: 30px;padding-right: 30px;padding-bottom: 0px;">
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="entry-title">
								<h3><a href="https://www.youtube.com/watch?v=haZnBJI7A68" data-lightbox="iframe"><i
											class="icon-film"></i>&nbsp;HOW SHOULD
										MONEY BE HANDLED IN A RELATIONSHIP</a></h3>
							</div>
							<div class="entry-content">
								<p>One of the biggest areas of conflict in a relationship is money.
									Finances. How
									should
									each person spend and on what? Should there be a joint account or just
									joint
									accounting? Huge difference.
									Coach Sylvia touches on this in this video and sheds some light on the
									issue.
									What do you think?</p>
							</div>
						</div>
					</div>
				</div>

				<div class="oc-item">
					<div class="oc-card">
						<div class="ipost clearfix">
							<div class="entry-image" style="overflow: hidden; border-radius: 15px;">
								<a href="https://www.youtube.com/watch?v=pJ9J0yUlVww" data-lightbox="iframe">
									<img src="{% static 'images/page/vidp.jpg' %}" />
									<div class="overlay center">
										<div class="overlay-wrap">
											<div
												style="position: absolute;bottom: 0px;padding-left: 30px;padding-right: 30px;padding-bottom: 0px;">
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="entry-title">
								<h3><a href="https://www.youtube.com/watch?v=pJ9J0yUlVww" data-lightbox="iframe"><i
											class="icon-film"></i>&nbsp;“Money builds strong
										affection in a
										relationship” - Single lady on Datefix</a></h3>
							</div>
							<div class="entry-content">
								<p>
									Here is a video about why Money is important in a relationship. What’s your take
									on this?<br>
									If you will like to see more opinions about
									relationships, Subscribe to the channel and follow our IG page @datefix.me</p>
							</div>
						</div>
					</div>
				</div>

				<div class="oc-item">
					<div class="oc-card">
						<div class="ipost clearfix">
							<div class="entry-image" style="overflow: hidden; border-radius: 15px;">
								<a href="https://www.youtube.com/watch?v=LnXYqWf5awI" data-lightbox="iframe">
									<img src="{% static 'images/page/vidp.jpg' %}" />
									<div class="overlay center">
										<div class="overlay-wrap">
											<div
												style="position: absolute;bottom: 0px;padding-left: 30px;padding-right: 30px;padding-bottom: 0px;">
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="entry-title">
								<h3><a href="https://www.youtube.com/watch?v=LnXYqWf5awI" data-lightbox="iframe"><i
											class="icon-film"></i>&nbsp;NOT SO SWEET SUGAR
										DADDY?</a></h3>
							</div>
							<div class="entry-content">
								<p>In this video, A single lady on datefix talks about the pros and cons of having
									a sugar daddy.<br>
									This is a totally objective review, not indicative of her preferences :)</p>
							</div>
						</div>
					</div>
				</div>


			</div>




		</div>







		<div id="section-services" class="page-section dark notopmargin"
			style="background-image: url({% static "images/page/pfbgx.png" %}); background-attachment: fixed;background-size: cover;">


			<div id="facts" class="divider divider-short divider-center notopmargin"><i class="icon-star3"></i>
			</div>
			<div class="heading-block center">
				<h3>Some Online Dating Facts</h3>
			</div>


			<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="true"
				style="background-image: none; background-attachment: fixed;background-size: cover;">
				<div class="flexslider" style="height: 176px;">
					<div class="slider-wrap">
						<div class="slide" data-thumb-alt=""
							style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
							<div class="testi-content">
								<h3>Little White Lies</h3>
								<p>50% to 80% of people who use online dating lie about themselves on their profile
								</p>
							</div>
						</div>
						<div class="slide" data-thumb-alt=""
							style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
							<div class="testi-content">
								<h3>Venus and Mars</h3>
								<p>Online dating users are 52.4% men and 47.6% women. This statistic varies from
									site to site.</p>
							</div>
						</div>
						<div class="slide flex-active-slide" data-thumb-alt=""
							style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
							<div class="testi-content">
								<h3>Second Opinion</h3>
								<p>One in five people asks for help from a pal to set up their online dating
									profile.</p>
							</div>
						</div>
						<div class="slide flex-active-slide" data-thumb-alt=""
							style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
							<div class="testi-content">
								<h3>Computer Love</h3>
								<p>Between 2002-2012, more than 1/3 of newlyweds met through an online dating site.
								</p>
							</div>
						</div>
						<div class="slide flex-active-slide" data-thumb-alt=""
							style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
							<div class="testi-content">
								<h3>Putting in the Hours</h3>
								<p>On average women spend 8.5 minutes per session on dating sites, while men spend
									7.2.</p>
							</div>
						</div>
						<div class="slide flex-active-slide" data-thumb-alt=""
							style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
							<div class="testi-content">
								<h3>Cuffing Season</h3>
								<p> the busiest time of the year is between December 26 and February 14 in terms of
									dates arranged.</p>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="divcenter center" style="max-width: 900px;">
				<h2 class="nobottommargin t300 ls1"><a href="/login/"
						class="topmargin button button-rounded button-reveal button-large button-red tright"
						style="margin-left: auto; margin-right: auto;"><i class="icon-heart"></i><span>Join Datefix
							Now</span></a></h2>
			</div>


		</div>

		<div class="page-section" style="style=" background-image: url({% static "images/page/bg.jpg" %});"">

			<div class="container clearfix">

				<div id="questions" class="divider divider-short divider-center notopmargin"><i class="icon-star3"></i>
				</div>
				<div class="heading-block center">
					<h3 style="color:#fff">Frequently Asked Questions</h3>
				</div>

				<!-- Post Content
					============================================= -->
				<div class="nobottommargin clearfix" style="margin: 0px auto; width:900px">

					<div class="clear"></div>

					<div id="faqs" class="faqs" style="font-size: 15px;">
						<div class="form-category">

							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i
										class="toggle-open icon-question-sign"></i>How do I send a good first message?
								</div>
								<div class="togglec">
									<p>Sending a message is a great way to get to know someone on DateFix. To make
										a great first impression, take some time to craft your hello.</p>
									<p>When sending a first message to someone, consider these tips:
										<ul>
											<li>Before you message someone check out his or her profile to learn some
												interesting things you
												can use to start a conversation. Ask people about their interests and
												hobbies,
												where they
												went to college, or about something in their story.</li>
											<li>Is there something specific that drew you to this person? Let him or her
												know
												what it was!
												Was it a beautiful smile, a favorite book, or a funny description that
												interested you? Being
												genuine and open about what you’re into can help you get a good
												response.
											</li>
											<li>Always double-check for spelling errors.
												It’s a good idea to read your message before pressing send to make sure
												you
												didn’t
												accidentally include a typo. Common spelling and grammar mistakes like
												“teh”
												or
												“dont” can
												ruin a great first impression and make someone think you’re not serious.
											</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
						<div class="form-category">
							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i
										class="toggle-open icon-question-sign"></i>What payment types does DateFix
									accept?
								</div>
								<div class="togglec nobottommargin nobottompadding">
									<p>DateFix accepts a variety of payment types that vary depending on the standard
										payment
										method in your location and the device you’re using. Payment options include
										credit
										cards, debit cards, Verve. To view the payment methods for your location, visit
										the
										subscription page.
									</p>
								</div>
							</div>
						</div>
						<div class="form-category">

							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i
										class="toggle-open icon-question-sign"></i>How do i change or delete my personal
									details?</div>
								<div class="togglec">
									<p>You can update or remove information any time by accessing your Account Settings
										page.
										You will be
										prompted to re-enter your new details and current password for verification.
									</p>
								</div>
							</div>
						</div>
						<div class="form-category">
							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i
										class="toggle-open icon-question-sign"></i>How do i change or delete my personal
									details?</div>
								<div class="togglec">
									<p>The following free features are available to basic members:<br>
										• view your personality test results<br>
										• receive partner suggestions<br>
										• upload photos and details<br>
										• send messages to in-house fixers and medical team<br>
										We offer the basic membership as an introduction to our service. We do this to
										give
										potential Premium members a realistic idea of our platform and our
										community.<br>
										 As a Premium member, the following perks are included:<br>
										• your personality test results are explained in more detail<br>
										• you will be matched and paired with 2 best prospects based on your
										requirements<br>
										• you can send and receive an unlimited number of messages<br>
										Our priority, first and foremost, is to give our members the opportunity to find
										a
										serious and loving relationship quickly and effectively. For this reason we
										encourage
										all members to sign up for Premium features so they can take full advantage of
										what
										our
										service has to offer.
									</p>
								</div>
							</div>


						</div><!-- .postcontent end -->

					</div>

				</div>

			</div>

</section><!-- #content end -->

<!-- Footer
		============================================= -->
{% include "footer.html" %}

<!-- #footer end -->

{% endblock content %}

{% block script %}



{% endblock script %}

{% block fixed %}
fixed-bottom
{% endblock fixed %}