{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href={% static 'css/bootstrap.css' %} type="text/css" />
	<link rel="stylesheet" href={% static 'css/style.css' %} type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href={% static 'css/onepage.css' %} type="text/css" />
	<!-- / -->
	<link rel="stylesheet" href={% static 'css/dark.css' %} type="text/css" />
	<link rel="stylesheet" href={% static 'css/multi.css' %} type="text/css" />
	<link rel="stylesheet" href={% static 'css/font-icons.css' %} type="text/css" />
	<link rel="stylesheet" href={% static 'css/et-line.css' %} type="text/css" />
	<link rel="stylesheet" href={% static 'css/animate.css' %} type="text/css" />
	<link rel="stylesheet" href={% static 'css/magnific-popup.css' %} type="text/css" />

	<link rel="stylesheet" href={% static 'css/fonts.css' %} type="text/css" />

	<link rel="stylesheet" href={% static 'css/responsive.css' %} type="text/css" />
	{% block css %}

	{% endblock css %}
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Datefix | {% block title %}{% endblock title %}</title>

</head>

<body class="stretched side-push-panel">

	<div class="body-overlay"></div>

	<div id="side-panel" class="">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a>
		</div>

		<div class="side-panel-wrap">



			<style>
				.table-bordered th,
				.table-bordered td {
					border: 0px;
				}

				.table th,
				.table td {
					font-weight: 300;
				}
			</style>


			<div class="clearfix">


				{% if not request.user.is_authenticated %}

				<div class="fancy-title title-border">
					<h4></h4>
				</div>

				<div class="list-group">
					<a href={% url 'login' %} class="list-group-item list-group-item-action clearfix">Login to Datefix
						<i class="icon-line2-login float-right"></i></a>
				</div>
				{% else %}<div class="feature-box fbox-center fbox-border fbox-dark fbox-effect noborder">
					<div class="fbox-icon">
						<a href="#"><img src={% static "images/icons/avatar.jpg" %}
								class="img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar"></a>
					</div>
					<h3> John Doe Machiavelli{{request.user.first_name}} {{request.user.last_name}}<span
							class="subtitle">Personality test result summary here</span></h3>
				</div>



				<div class="fancy-title title-border">
					<h4></h4>
				</div>

				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
							<th style="padding-right: 4px;">
								<abbr title="Username"><i class="icon-user"></i></abbr>
							</th>
							<td>{{request.user.username}}</td>
						</tr>
						<tr>
							<th style="padding-right: 4px;">
								<abbr title="E-mail Address"><i class="icon-email"></i></abbr>
							</th>
							<td>{{request.user.email}}</td>
						</tr>
						<tr>
							<th style="padding-right: 4px;">
								<abbr title="Phone Number"><i class="icon-phone"></i></abbr>
							</th>
							<td>+1234567890123</td>
						</tr>
					</tbody>
				</table>

				<div class="list-group">
					<a href={% url 'dashboard' %} class="list-group-item list-group-item-action clearfix">Datefix
						Session
						<i class="icon-heart float-right"></i></a>
					<a href="#" class="list-group-item list-group-item-action clearfix">Chat <i
							class="icon-envelope2 float-right"></i></a>
					<a href="#" class="list-group-item list-group-item-action clearfix">Billing <i
							class="icon-credit-cards float-right"></i></a>
					<a href="#" class="list-group-item list-group-item-action clearfix">Edit Profile <i
							class="icon-cog float-right"></i></a>
					<a href={% url 'logout' %} class="list-group-item list-group-item-action clearfix">Logout <i
							class="icon-line2-logout float-right"></i></a>
				</div>
				{% endif %}



			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


		<div class="container-fluid" style="padding:0px;">
			{% block content %}

			{% endblock content %}
		</div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src={% static 'js/jquery.js' %}></script>
	<script src={% static 'js/plugins.js' %}></script>
	<script src={% static 'js/select2.2.js' %}></script>
	<script src={% static 'js/faq.js' %}></script>
	<script src={% static 'js/conditional-form.js' %}></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src={% static 'js/msform.js' %}></script>


	<!-- Google Map JavaScripts
	============================================= -->
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCzkxzbEni5vR_Ugt1De8gBzrLX3236bnA"></script>
	<script src={% static 'js/jquery.gmap.js' %}></script>

	<!-- Footer Scripts
	============================================= -->
	<script src={% static 'js/functions.js' %}></script>

	<script>
	</script>






	{% block script %}

	{% endblock script %}

</body>

</html>