{% extends "index.html" %}
{% load static %}
{% block title %}
    Payment
{% endblock title %}

{% block content %}

{% endblock %}
{% block script %}
    <script>
    const url = window.location.host
    const protocol = window.location.protocol
    window.onload = ()=>
        $.ajax(
        {url : protocol+'://'+url+'/match/',
        type: 'GET',
            success: (data)=>{
            console.log(data)
            if (data === 'success'){
                window.open(protocol+'://'+url+'/results/', "_self")
            }
            if (data === 'fail'){
                window.open(protocol+'://'+url+'/dashboard/', "_self")
            }

            }
        }
    )
    }

    </script>

{% endblock %}