{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

</head>
<body>
<form method="get" action="{% url 'test' %}">
    <input type="hidden" name="girls" id="matches_"/>
    <h4>List of Girls</h4>
    <ul id="list_">

    </ul>
    <label for="cars">
        Select any Girl of your choice
        <select id="girl" name="girl" multiple aria-multiselectable="true">
            <option onclick=select(this) value="Ngozi">Ngozi</option>
            <option onclick=select(this) value="Chinaza">Chinaza</option>
            <option onclick=select(this) value="Raluchi">Raluchi</option>
            <option onclick=select(this) value="Chioma">Chioma</option>
        </select>
    </label>
    <button type="submit">Submit</button>
</form>
<script type="text/javascript" lang="javascript" src="{% static 'js/matches.js'%}"></script>
</body>
</html>